main{
    width: 100%;
    height: 100vh;
}

body{
    background-color: black;
}

.app__background{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 5%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.8) 100%
        ),
        url(../imagens/background.png);
    background-size: cover;
}

.btn__primary{
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__primary a{
    text-decoration: none;
    color: black;
}

.btn__secondary{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: gray;
}

.btn__secondary a{
    text-decoration: none;
    color: white;
}



