.hero{
    width: 100%;
    height: 600px;
    min-height: 500px;
}

.hero__container{
    width: 45%;
    min-width: 45%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 10px 40px;
}

.hero__title-series{
    width: 100%;
}

.hero__description{
    color: white;
}